Repository nacos-group/nacos-sdk-rust, pull requests merged in 2022-10, with the labels that each got.

#15 change: api config.listener wrap with Arc
  README.md
  examples/simple_app.rs
  src/api/config.rs
  src/config/mod.rs
  src/config/worker.rs
Labels: config

#27 change(api-config #16): Change api ConfigChangeListener to Trait.
  README.md
  examples/simple_app.rs
  src/api/config.rs
  src/config/mod.rs
  src/config/worker.rs
Labels: config

#28 feat(config-listener): ConfigChangeListener Notify in independent thread.
  src/config/worker.rs
Labels: enhancement, config

#32 feat(config-api #29): remove_listener() for Remove a Listener.
  src/api/config.rs
  src/config/mod.rs
Labels: enhancement, config

#34 feat(config-api #29): remove_config() for Remove a Config.
  src/api/config.rs
  src/common/remote/request/mod.rs
  src/common/remote/response/mod.rs
  src/config/client_request.rs
  src/config/mod.rs
  src/config/server_response.rs
  src/config/worker.rs
Labels: enhancement, config

#37 chore(code-optimization): 代码优化
  examples/simple_app.rs
  src/api/config.rs
  src/api/error.rs
  src/config/cache.rs
  src/config/mod.rs
  src/config/worker.rs
Labels: chore

#39 feat(api-plugin #17): ConfigFilter and EncryptionPlugin
  src/api/config.rs
  src/api/mod.rs
  src/api/plugin/config_filter.rs
  src/api/plugin/encryption.rs
  src/api/plugin/mod.rs
  src/common/remote/conn.rs
  src/config/cache.rs
  src/config/mod.rs
  src/config/server_response.rs
  src/config/util.rs
  src/config/worker.rs
Labels: enhancement, config

#40 feat: grpc server switch and reconnect
  Cargo.toml
  src/api/error.rs
  src/api/events/mod.rs
  src/api/events/naming/instances_change_event.rs
  src/api/naming.rs
  src/common/event_bus/mod.rs
  src/common/executor/mod.rs
  src/naming/cache/disk_cache.rs
  src/naming/cache/mod.rs
  src/naming/dto/mod.rs
  src/naming/grpc/events/grpc_connection_health_check_event.rs
  src/naming/grpc/events/grpc_disconnect_event.rs
  src/naming/grpc/events/grpc_reconnected_event.rs
  src/naming/grpc/events/mod.rs
  src/naming/grpc/grpc_client.rs
  src/naming/grpc/grpc_service.rs
  src/naming/grpc/handler/default_handler.rs
  src/naming/grpc/handler/mod.rs
  src/naming/grpc/handler/naming_push_request_handler.rs
  src/naming/grpc/message/mod.rs
  src/naming/grpc/message/request/health_check_request.rs
  src/naming/grpc/message/request/mod.rs
  src/naming/grpc/message/response/health_check_response.rs
  src/naming/grpc/message/response/mod.rs
  src/naming/grpc/message/response/server_check_response.rs
  src/naming/grpc/mod.rs
  src/naming/grpc/subscribers/grp_connection_health_check_subscriber.rs
  src/naming/grpc/subscribers/grpc_reconnected_subscriber.rs
  src/naming/grpc/subscribers/mod.rs
  src/naming/mod.rs
Labels: enhancement, naming, core

#43 refactor(macro-request): refactor macro request and fix some typo.
  nacos-macro/src/request.rs
  src/naming/grpc/client_abilities.rs
  src/naming/grpc/grpc_service.rs
  src/naming/mod.rs
Labels: chore
